body {
  padding: 100px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 315px;
    width: 560px;
}

.item {
  margin-bottom: 100px;
  display:block;
}
